/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
}

ul {
	list-style: none;
}

footer {
	float: right;
	margin: 0 0 10px;
}

.btn {
	background-color:#337ab7;
}

.active {
	padding: 15px;
}

.sign_in {
	background-color:rgb(91, 192, 222);
	color:#666;
}

.sign_up {
	background-color:rgb(92, 184, 92);
	color:#666;
}



.well {
	padding: 6px 12px;
}

.navbar-left {
	font-size: 20px;
	padding-top: 10px;
}


.navbar-default {
	background-color: black;
	margin:0;
	color: white;
}

.navbar {
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.img {
	margin: 20px;
	display: block;
}