<div class = "row">
<%= render 'books/common_book' ,user:@user,book:@book %>

<div class = "col-xs-9">
<h1>投稿一覧</h1>
<% @books.each do |book| %>
	<p>タイトル</p>
	<%= link_to book.title, book_path(book) %>
	<%= book.body %>
<% end %>
</div>
</div>