Editing Book

<div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">
          <section class="slice slice-lg sct-color-1">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                      <h2 class="form-header-title">プロフィール編集</h2>
                    </div>
                    <div class="form-body">
                      <!-- ここにform_forを追加します -->
                      <%= form_for(@book) do |f| %>
                        <div class="form-group　book-edit">
                          <label class="control-label sr-only" for="inputEmail">Title</label>
                          <%= f.text_field :title, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"タイトル"%>
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class = form-group book-edit>
                        	<label class="control-label sr-only" for="inputEmail">Opinion</label>
                          <%= f.text_area :body, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"オピニオン"%>
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        	
                        </div>
                        <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>